<toaster-container [toasterconfig]="config"></toaster-container>

<div class="row">
  <div class="col-md-12">
    <nb-card size="small">
      <nb-route-tabset [tabs]="tabs"></nb-route-tabset>
    </nb-card>
  </div>
</div>
