<div class="dialog-content">

  <div mat-dialog-title class="title-text">Edit {{data.content.name}}</div>
  <div mat-dialog-content>
    <div class="image-section">
      <div class="image-block">
        <img [src]="content.image" alt="Image not found">
      </div>
      <div class="image-upload">
        <input
          style="display: none"
          type="file" (change)="onFileChanged($event)"
          #fileInput>
        <button class="btn btn-with-icon btn-success btn-upload" (click)="fileInput.click()">
          <i class="fas fa-file-upload"></i>
        </button>
      </div>
    </div>
    <div class="input-margin section-wrap">
      <span class="input-text">Name: </span>
      <input type="text" placeholder="Name" class="form-control input-flex" [(ngModel)]="content.name"/>
    </div>
    <div class="input-margin section-wrap">
      <span class="input-text">Date: </span>
      <input matInput type="text" [matDatepicker]="dp" placeholder="Date" (dateChange)="updateDate($event)"
             (keyup)="dateHandler($event)" class="form-control input-flex"
             [ngClass]="validDate ? 'form-control' : 'form-control-danger'"
             [formControl]="dateForm"/>
      <i class="fas fa-calendar-alt icon-styles icon-align" (click)="dp.open()"></i>
      <mat-datepicker #dp></mat-datepicker>
    </div>
    <div class=" input-margin section-wrap">
      <span class="input-text">Time: </span>
      <p-calendar [(ngModel)]="content.time" [timeOnly]="true" hourFormat="24"
                  [style]="{'display': 'flex', 'flex': '90'}"
                  [panelStyleClass]="'panel-styles'" [inputStyleClass]="'form-control'"
                  [placeholder]="'Time'"
                  [dataType]="'time'"
                  (onSelect)="handleTime($event)"></p-calendar>
    </div>
  </div>

  <div mat-dialog-actions align="end" class="btn-section">
    <button class="btn btn-rectangle btn-margin btn-secondary btn-md" (click)="close()">Cancel</button>
    <button class="btn btn-rectangle btn-margin btn-success btn-md" (click)="save()">Save</button>
  </div>
</div>
