<div class="content-list row">
  <div class="list-item" *ngFor="let item of contentList">
    <ngx-content-list-item [content]="item" (contentDeleted)="contentDeleted($event)"></ngx-content-list-item>
  </div>
</div>
