<h1 mat-dialog-title>Deleting confirmation</h1>
<div mat-dialog-content>
  <p>Are you sure want to delete {{data.name}} content</p>
</div>
<div mat-dialog-actions align="end">
  <button class="btn btn-rectangle btn-secondary btn-md btn-margin" (click)="close()">No</button>
  <button class="btn btn-rectangle btn-warn btn-md btn-margin" (click)="save()" >Yes</button>
</div>
